In [1]:
import pandas as pd
import json

In [2]:
# Load your CSV
df = pd.read_excel("data/data.xlsx",sheet_name='data')

In [3]:
df.rename(columns={'Whole_Saler':'A'},inplace=True)

In [4]:
df['Name_of_Route'] = df['Name_of_Route'].fillna('N/A').astype(str)
df['TGT1'] = df['TGT'].fillna(0)
df['TGT'] = df['TGT'].astype(str)

In [5]:
df['Whole_Saler'] = df["A"]+"_( "+df["Name_of_Route"] + " )" + "| Target = " +df['TGT']+ " |"

In [6]:
df.sort_values(by=['State','Name_of_SS','Name_of_DB'],inplace=True)

In [7]:
df.head(5)

,State,Id,Name_of_SS,db_id,Name_of_DB,A,Name_of_Route,AVG_BIS,TGT,Password,check,TGT1,Whole_Saler
1898,Gujarat,1899,ANJANIPUTRA MARKETING,58,Aayat Sales Agency,Vasila General Store,Ahmedabad,0,20,Guj@1803,Vasila General Store_Ahmedabad,20,Vasila General Store_( Ahmedabad )| Target = 20 |
1899,Gujarat,1900,ANJANIPUTRA MARKETING,58,Aayat Sales Agency,Lucky General Store,Ahmedabad,0,30,Guj@1803,Lucky General Store_Ahmedabad,30,Lucky General Store_( Ahmedabad )| Target = 30 |
1900,Gujarat,1901,ANJANIPUTRA MARKETING,58,Aayat Sales Agency,M.k Traders,Ahmedabad,0,30,Guj@1803,M.k Traders_Ahmedabad,30,M.k Traders_( Ahmedabad )| Target = 30 |
1901,Gujarat,1902,ANJANIPUTRA MARKETING,58,Aayat Sales Agency,Samrat Traders,Ahmedabad,0,20,Guj@1803,Samrat Traders_Ahmedabad,20,Samrat Traders_( Ahmedabad )| Target = 20 |
1902,Gujarat,1903,ANJANIPUTRA MARKETING,58,Aayat Sales Agency,Akbar Traders,Ahmedabad,0,25,Guj@1803,Akbar Traders_Ahmedabad,25,Akbar Traders_( Ahmedabad )| Target = 25 |

In [8]:

# Create nested dictionary with password at DB level
nested = {}

for _, row in df.iterrows():
    state = row['State']
    ss = row['Name_of_SS']
    db = row['Name_of_DB']
    ws = row['Whole_Saler'] # Whole_Saler
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    db_dict = ss_dict.setdefault(db, {"password": pwd, "wholesalers": []})

    db_dict["wholesalers"].append(ws)

# Save
with open("data/dropdown_with_password.json", "w") as f:
    json.dump(nested, f, indent=4)