In [1]:
import pandas as pd
import json

In [2]:
# Load your CSV
df = pd.read_excel("data/data.xlsx",sheet_name='data')

In [3]:
df.rename(columns={'Whole_Saler':'A'},inplace=True)

In [4]:
df['Name_of_Route'] = df['Name_of_Route'].fillna('N/A')
df['TGT1'] = df['TGT'].fillna(0)
df['TGT'] = df['TGT'].astype(str)

In [5]:
df

,State,Id,Name_of_SS,db_id,Name_of_DB,A,Name_of_Route,AVG_BIS,TGT,Password,check,TGT1
0,Mumbai,1,NIDHI SALES,1,OM TRADING,NEW GOLDEN,SANTOSH BHAVAN,200,225,PriyaGold@1122,NEW GOLDEN _SANTOSH BHAVAN,225
1,Mumbai,2,NIDHI SALES,1,OM TRADING,AQSA WHOLESALE,GORAI,180,225,PriyaGold@1122,AQSA WHOLESALE _GORAI,225
2,Mumbai,3,SUNRISE ENT,2,R P ENTERPRISES,CHAURASIYA TOBACO,DATIVALI ROAD,105,150,PriyaGold@1063,CHAURASIYA TOBACO_DATIVALI ROAD,150
3,Mumbai,4,J K BROTHERS,3,RIYAN ENT,FHIRODS SUPARI,GUTAMNAGAR,100,150,PriyaGold@1341,FHIRODS SUPARI_GUTAMNAGAR,150
4,Mumbai,5,NIDHI SALES,4,NIDHI TRADING,SHIVAM EIG,TARAPUR,80,85,PriyaGold@1767,SHIVAM EIG_TARAPUR,85
...,...,...,...,...,...,...,...,...,...,...,...,...
1086,Mumbai,1087,SUNRISE ENT,8,POPULAR AGENCY,SHREE SAMARTH W/S,VARAP,20,35,PriyaGold@1716,SHREE SAMARTH W/S_VARAP,35
1087,Mumbai,1088,SUNRISE ENT,8,POPULAR AGENCY,DEEPAK STORE,SHIV ROAD,25,35,PriyaGold@1716,DEEPAK STORE_SHIV ROAD,35
1088,Mumbai,1089,SUNRISE ENT,8,POPULAR AGENCY,SURESH SUPARI,SHAHAD ROAD,20,35,PriyaGold@1716,SURESH SUPARI_SHAHAD ROAD,35
1089,Mumbai,1090,SUNRISE ENT,8,POPULAR AGENCY,SANGEETA STORE,SHAHAD ROAD,20,35,PriyaGold@1716,SANGEETA STORE_SHAHAD ROAD,35
1090,Mumbai,1091,SUNRISE ENT,8,POPULAR AGENCY,RAJVEER STORE,SHAHAD ROAD,25,35,PriyaGold@1716,RAJVEER STORE_SHAHAD ROAD,35

In [6]:
df['Whole_Saler'] = df["A"]+"_( "+df["Name_of_Route"] + " )" + "| Target = " +df['TGT']+ " |"

In [7]:
df.sort_values(by=['State','Name_of_SS','Name_of_DB'],inplace=True)

In [8]:
df.head(5)

,State,Id,Name_of_SS,db_id,Name_of_DB,A,Name_of_Route,AVG_BIS,TGT,Password,check,TGT1,Whole_Saler
939,Mumbai,940,J K BROS,54,BALWANT & CO,JANTA WHOLESALE,SANGAM NAGAR,10,20,PriyaGold@1978,JANTA WHOLESALE_SANGAM NAGAR,20,JANTA WHOLESALE_( SANGAM NAGAR )| Target = 20 |
940,Mumbai,941,J K BROS,54,BALWANT & CO,POOJA WHOLESALE,SANGAM NAGAR,10,20,PriyaGold@1978,POOJA WHOLESALE_SANGAM NAGAR,20,POOJA WHOLESALE_( SANGAM NAGAR )| Target = 20 |
941,Mumbai,942,J K BROS,54,BALWANT & CO,SHITLA MATA,GTB NAGAR,10,20,PriyaGold@1978,SHITLA MATA_GTB NAGAR,20,SHITLA MATA_( GTB NAGAR )| Target = 20 |
942,Mumbai,943,J K BROS,54,BALWANT & CO,P. JAISWAL,WADALA,10,20,PriyaGold@1978,P. JAISWAL_WADALA,20,P. JAISWAL_( WADALA )| Target = 20 |
943,Mumbai,944,J K BROS,54,BALWANT & CO,MUKESH SOLANKI,WADALA,10,20,PriyaGold@1978,MUKESH SOLANKI_WADALA,20,MUKESH SOLANKI_( WADALA )| Target = 20 |

In [9]:

# Create nested dictionary with password at DB level
nested = {}

for _, row in df.iterrows():
    state = row['State']
    ss = row['Name_of_SS']
    db = row['Name_of_DB']
    ws = row['Whole_Saler'] # Whole_Saler
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    db_dict = ss_dict.setdefault(db, {"password": pwd, "wholesalers": []})

    db_dict["wholesalers"].append(ws)

# Save
with open("data/dropdown_with_password.json", "w") as f:
    json.dump(nested, f, indent=4)