In [2]:
import pandas as pd
import json

In [3]:
# Load your CSV
df = pd.read_excel("data/data.xlsx",sheet_name='data')

In [4]:
df['A'] = df["Whole_Saler"]+"_( "+df["Name_of_Route"] + " )"

In [5]:
df.head(5)

,State,Id,Name_of_SS,db_id,Name_of_DB,Whole_Saler,Name_of_Route,AVG_BIS,TGT,Password,A
0,Mumbai,1,NIDHI SALES,1,OM TRADING,NEW GOLDEN,SANTOSH BHAVAN,200,225,PriyaGold@1122,NEW GOLDEN _( SANTOSH BHAVAN )
1,Mumbai,2,NIDHI SALES,1,OM TRADING,AQSA WHOLESALE,GORAI,180,225,PriyaGold@1122,AQSA WHOLESALE _( GORAI )
2,Mumbai,3,SUNRISE ENT,2,R P ENTERPRISES,CHAURASIYA TOBACO,DATIVALI ROAD,105,150,PriyaGold@1063,CHAURASIYA TOBACO_( DATIVALI ROAD )
3,Mumbai,4,J K BROTHERS,3,RIYAN ENT,FHIRODS SUPARI,GUTAMNAGAR,100,150,PriyaGold@1341,FHIRODS SUPARI_( GUTAMNAGAR )
4,Mumbai,5,NIDHI SALES,4,NIDHI TRADING,SHIVAM EIG,TARAPUR,80,85,PriyaGold@1767,SHIVAM EIG_( TARAPUR )

In [8]:
df.sort_values(by=['State','Name_of_SS','Name_of_DB'],inplace=True)

In [9]:

# Create nested dictionary with password at DB level
nested = {}

for _, row in df.iterrows():
    state = row['State']
    ss = row['Name_of_SS']
    db = row['Name_of_DB']
    ws = row['A'] # Whole_Saler
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    db_dict = ss_dict.setdefault(db, {"password": pwd, "wholesalers": []})

    db_dict["wholesalers"].append(ws)

# Save
with open("data/dropdown_with_password.json", "w") as f:
    json.dump(nested, f, indent=4)